@model InsertPageViewModel

<form id="form1" asp-action="InsertPage" asp-controller="Base" method="post">
    <table id="insertTable">
        <tr>
            <td class="tdIngr"><label asp-for="RecipeVM.Name">Recipe:</label></td>
            <td class="tdIngr"><input asp-for="RecipeVM.Name" /></td>
            <td class="tdIngr"><input type="hidden" asp-for="RecipeVM.RecipeID" /></td>
        </tr>
        <tr>
            <td class="tdIngr"><label asp-for="RecipeVM.Category">Category:</label></td>
            <td class="tdIngr"><input asp-for="RecipeVM.Category" /></td>
        </tr>
        <tr>
            <td class="tdIngr"><label asp-for="RecipeVM.Cuisine">Cuisine:</label></td>
            <td class="tdIngr"><input asp-for="RecipeVM.Cuisine" /></td>
        </tr>
        <tr>
            <td class="tdIngr"><label asp-for="RecipeVM.Instructions">Instructions:</label></td>
            <td class="tdIngr"><input class="form-control" asp-for="RecipeVM.Instructions" /></td>
        </tr>
        <tr><td class="tdIngr">Ingredients</td></tr>

        @for (int i = 0; i < Model.CollectLine.Count; i++)
            {

        <tr>
            <td class="tdIngr"><label asp-for="CollectLine[i].Ingredient.IngredientName"># @(i+1)</label></td>
            <td class="tdIngr"><input asp-for="CollectLine[i].Ingredient.IngredientName" /></td>
            <td class="tdIngr"><label asp-for="CollectLine[i].Quantity">Quantity:</label></td>
            <td class="tdIngr"><input asp-for="CollectLine[i].Quantity" /></td>
            <td class="tdIngr"><label asp-for="CollectLine[i].Measure.MeasureDesc">Measure:</label></td>
            <td class="tdIngr"><input asp-for="CollectLine[i].Measure.MeasureDesc" /></td>
        </tr>
        <tr>
            <td class="tdIngr"><input type="hidden" asp-for="CollectLine[i].IngredientLineID" /></td>
            <td class="tdIngr"><input type="hidden" asp-for="CollectLine[i].Measure.MeasureID" /></td>
            <td class="tdIngr"><input type="hidden" asp-for="CollectLine[i].RecipeID" /></td>
        </tr>
            }
        <tr>
            <td class="tdIngr"><button type="submit">Save</button></td>
            <td><button type="button" onclick="location.href='@Url.Action("Index","Home")'">Cancel</button></td>
        </tr>

    </table>
</form>